{{!-- <h4>This is from the child component</h4> --}}
<img src="https://cdn.iconscout.com/icon/free/png-256/like-670-894768.png" {{action funName}} >
<img src="likeimg.png" alt="">
{{!-- <button {{action funName}}>Child Like</button> --}}
{{yield}}